<div class="col s12">
  <div class="card grey lighten-4">
    <div class="card-content ">
      <span class="card-title">{{model.title}}</span>
      <p>{{model.description}}</p>

    </div>
    <div class="card-action">
      {{#link-to "post.view" model}}Read more{{/link-to}}
        {{#link-to "post.edit" model}}Edit{{/link-to}}
        <a href="#" {{action "delete_post" model}}> Delete</a>
    </div>
  </div>
</div>