<div class="col s12">
  <div class="card grey lighten-4">
  	<div class="card-image">
      <img src="{{model.file_name}}" />
      <span class="card-title">{{model.file_name}}</span>
    </div>
    <div class="card-action">
      	{{#link-to "file.edit" model}}Edit{{/link-to}}
        <a href="#" {{action "delete_file" model}}> Delete</a>
    </div>
  </div>
</div>