<div class="row">
    <div class="col s6">
        <form {{action "save_post" model on="submit"}}>
            <div class="input-field col s12">
                <label for="title" class="active">Title</label>
                {{input id="title" type="text" value=model.title}}
            </div>
            <div class="input-field col s12">
                <label for="description" class="active">Description</label>
                {{textarea id="description" type="textarea" value=model.description class="materialize-textarea ornio-textarea"}}

            </div>
            <div class='section'>
                <button class="btn waves-effect red darken-1" type="submit" name="action">Update
                    <i class="material-icons right">edit</i>
                </button>
            </div>
        </form>
    </div>
</div>
