<div class="row">
    <div class="col s6">
        <form {{action "create_post" on="submit"}}>
            <div class="input-field col s12">
                <label for="title">Title</label>
                {{input id="title" type="text" value=title}}
            </div>
            <div class="input-field col s12">
                <label for="description">Description</label>
                {{textarea id="description" type="textarea" value=description class="materialize-textarea ornio-textarea"}}

            </div>
            <div class='section'>
                <button class="btn waves-effect red darken-1" type="submit" name="action">Create new
                    <i class="material-icons right">add</i>
                </button>
            </div>
        </form>
    </div>
</div>
