{{#if session.isAuthenticated}}
	{{partial "application/header"}}
		<main>
			<div class="container">
				{{outlet}}
			</div>
		</main>
{{else}}
	<div class="login-panel">
		<div class="container">
			<div class="row">
				{{outlet}}
			</div>
		</div>
	</div>
{{/if}}
