<form {{action 'authenticate' on='submit'}} autocomplete='off' class="col s12 m6 offset-m3">
    <h2>Paneli i kyçjes</h2>
    <div class="input-field">
      {{input type="email" autocomplete=off value=identification class='validate'}}
      <label for="identification">Email</label>
    </div>
    <div class="input-field">
      {{input type="password" autocomplete='off' value=password class='validate'}}
      <label for="password">Password</label>
    </div>
    <button type="submit" class="waves-effect red darken-1 btn">Login</button>
    <br /><br />
    <div>
      {{#link-to "user.register"}}Register{{/link-to}}
    </div>
</form>
