<form {{action 'register' on='submit'}} autocomplete='off' class="col s12 m6 offset-m3">
    <h2>Regjistrohu</h2>
    <div class="input-field">
      {{input type="text" value=name class='validate'}}
      <label for="name">Name</label>
    </div>
    <div class="input-field">
      {{input type="email" value=email class='validate'}}
      <label for="email">E-mail</label>
    </div>
    <div class="input-field">
      {{input type="password" autocomplete='off' value=password class='validate'}}
      <label for="password">Password</label>
    </div>
    <button type="submit" class="waves-effect red darken-1 btn">Regjistrohu</button>
    <br /><br />
    <div>
        {{#link-to "user.login"}}Login{{/link-to}}
    </div>
</form>