<nav class="red darken-1">
    <div class="nav-wrapper container ">
        <a href="#" class="brand-logo">Ornio Blog Api</a>
        <ul id="nav-mobile" class="right">
            <li>{{#link-to "file.new"}}New File{{/link-to}}</li>
            <li>{{#link-to "file"}}Files{{/link-to}}</li>
            <li>{{#link-to "post.new"}}Add new post{{/link-to}}</li>
            <li><a {{action "invalidateSession"}}>Logout</a></li>
        </ul>
    </div>
</nav>
<br />