<div class="row">
    <div class="col s6">
        <form {{action "save_file" model on="submit"}}>
            <div class="card grey lighten-4">
			  	<div class="card-image">
			      <img src="{{model.file_name}}" />
			      <span class="card-title">{{model.file_name}}</span>
			    </div>
			    <div class="card-action">
			      	{{#link-to "file.edit" model}}Edit{{/link-to}}
			        <a href="#" {{action "delete_file" model}}> Delete</a>
			    </div>
			</div>
        </form>
    </div>
</div>
